#body {
  max-width: 900px;
  margin: auto;
  font-family: 'Roboto Condensed', sans-serif;
  box-shadow: 30px 0px 40px rgba(248, 232, 3, 0.2),
    -30px 0px 40px rgba(219, 235, 6, 0.2);
    background: white;
}

body {
  margin: 0;
  height: auto;
  background: black;
}

#title h1 {
  font-size: 3rem;
  font-weight: 400;
  text-transform: uppercase;
  margin: auto;
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
  background: black;
  color: yellow;
}



#image {
  display: block;
  width: 100%;
}

img {
  width: 100%;
  height: auto;
  max-width: 100%;
}

#img-caption {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 200;
  margin-bottom: 80px;
}

#main {
  text-align: center;
  
}

#main ul {
  list-style-type: none;
  display: block;
  text-align: start;
}

.ul-info {
  margin: 0 25%;
}

.ul-info2 {
  margin: 0 30%;
}

#footer h4 {
  text-align: center;
}

#footer p {
  text-align: center;
}

footer {
  margin: 0;
  padding-bottom: 20px;
}

#tribute-link {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
}

#tribute-link:hover {
  color: yellow;
}

@media(max-width: 500px) {
  .ul-info, .ul-info2, #image {
    margin: auto;
  }
}

